body {
    background-color: #955E42;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.imagem-style {
    height: 500px;
    width: 500px;
    border: 10px solid #232020;
    border-radius: 10px;
}

.title-style {
    margin-left: 4rem;
    color: #232020;
    margin-bottom: 3rem;
    text-decoration: underline;
}

.card-info-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5rem;
    max-width: 100%;   
}

.infos-style {
    margin-left: 1rem;
    display: flex;
    background-color: #232020;
    border-radius: 10px;
    flex-direction: column;
    max-width: 40rem;
    min-width: 40rem;
}

.infos-style-text {
    font-size: x-large;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    word-break: break-all;
    max-width: 100%;
}


.bloco-principal {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.botao1 {
    margin-right: 3.5rem;
}

.botao1-2 {
    font-size: x-large;
    background-color: #553739;
    color: white;
}

.botoes-marrom {
    background-color: #553739;
    color: white;
}

.bloco-secundario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.nav-style {
    background-color: #553739;
    font-size: x-large;
    display: flex;
}

.nav-style2 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.nav-style2 .item-nav1 {
    width: 10%;
}

.nav-style2 .item-nav2 {
    width: 10%;
}

.nav-style2 .item-nav3 {
    width: 10%;
}

.nav-style2 .item-nav4 {
    width: 60%;
}

.item-dentro {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
}


.item-nav0 {
    margin-left: 2rem;
}

.item-nav {
    margin-left: 2rem;
}

.text-nav {
    color: white;
}

.text-nav2 {
    color: #d1a08f;
}



.form-edit-style {
    margin-top: -1rem;
    margin-bottom: 5rem;
    width: 70%;
    background-color: #232020;
    padding: 20px;
    border-radius: 20px;
}

.label-form-style {
    margin-top: 0.5rem;
    background-color: #232020;
    font-size: x-large;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}

.bloco-img-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #232020;
    margin-bottom: 8rem;
}

.img-logo-style {
    max-width: 500px;
    max-height: 500px;
}

.table-custom {
    color: white;
    border-radius: 10px;
    width: 90%;
    background-color: #232020;
    font-size: x-large;
}


.tds-item-style {
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
}

.input-qtd-style {
    max-width: 8rem;
}

.bnt-stock-style {
    margin-bottom: 2rem;
}

.bloco-secundario2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-edit-stock {
    width: 50rem;
}

.bloco-secundario-selected {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-data-style {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
    background-color: #232020;
    padding: 3px;
    border-radius: 8px;
}

.label-form-style2 {
    margin-top: 5px;
    background-color: #232020;
    font-size: x-large;
    border-radius: 8px;
}

.btn-criar-style {
    font-size: x-large;
    background-color: #553739;
    color: white;
    padding-left: 20px;
    height: 3.5rem;
}


.limitaC-style {
    max-width: 7ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-logout-style {
    background-color: unset;
    border: unset;
}

.alert-msg-style {
    max-width: 100%;
    margin-left: 4rem;
    margin-right: 4rem;
}

.bloco-secundario3 {
   max-width: 100%;
}

.form-check-area {
    background-color: #232020;
    border: 20px solid #232020;
    border-radius: 10px;
    width: 30rem;
    margin-bottom: 4rem;
}

.check-form-products {
    background-color: #232020;
    width: 100%;
}

.check-item {
    margin-right: 1rem;
}

.label-item {
    color: white;
    font-size: large;
    font-weight: 400;
}

.label-item2 {
    color: white;
    font-size: large;
    font-weight: 400;
    margin-bottom: 1rem;
}

.btn-item-table {
    margin-right: 0.5rem;
}

.footer-style {
    font-family: 'Varela Round', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;   
    background-color: #553739;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

.text-footer {
    margin-top: 1rem;
    font-size: 13px;
}

.area-btn-voltar {
    display: flex;
    justify-content: center;
}

.area-btns-edit {
    margin-top: -3rem;
    margin-bottom: 6rem;
}

.btn-voltar {
    max-width: 8rem;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .form-check-area {
        max-width: 100%;

    }
    
    .bloco-secundario-selected {
        max-width: 90%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .form-edit-style {
        min-width: 18rem;
    } 

}


@media (max-width: 514px) {

    .imagem-style {
        max-width: 400px;
        max-height: 400px;
    }
}

@media (max-width: 414px) {

    .imagem-style {
        max-width: 300px;
        max-height: 300px;
    }
}


@media (max-width: 1000px) {

    .card-info-style {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-info-style .infos-style {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 3rem;
        margin-left: 0;
    }

    .card-info-style .infos-style .infos-style-text {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3rem;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .item-dentro {
        display: unset;
        justify-content: unset;
        flex-wrap: unset;
    }

    .table-edit-stock {
        max-width: 30rem;
    }
}


@media (max-width: 520px) {
    .table-edit-stock {
        max-width: 25rem;
    }
}

@media (max-width: 400px) {
    .bloco-principal {
        display: flex;
        justify-content: center;
        align-items: unset;
    }

    .botao1 {
        margin-left: 5px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .botao1-2 {
        font-size: 20px;
    }

    .table-edit-stock {
        max-width: 16rem;
    }
}


@media (max-width: 768px) {

    .tds-item-style {
        flex-wrap: wrap;
    }

    .btn-item-table {
        margin-bottom: 0.5rem;
        margin-right: unset;
    }

    .infos-style {
        min-width: unset;
    }

}   

@media (max-width: 500px) {
    .btn-custom {
        margin-bottom: 0.1rem;
        margin-top: 0.1rem;
    }
}