body {
    background-color: #955E42;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.imagem-style {
    height: 500px;
    width: 500px;
    border: 10px solid #232020;
    border-radius: 10px;
}

.title-style {
    margin-left: 4rem;
    color: #232020;
    margin-bottom: 3rem;
    text-decoration: underline;
}

.card-info-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infos-style {
    margin-left: 2rem;
    display: flex;
    height: 500px;
    width: 500px;
    background-color: #232020;
    border-radius: 10px;
    flex-direction: column;
}

.infos-style-text {
    font-size: x-large;
    margin-top: 3rem;
    margin-left: 2rem;
}


.bloco-principal {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.botao1 {
    margin-right: 4rem;
}

.botao1-2 {
    font-size: x-large;
    background-color: #553739;
    color: white;
}

.botoes-marrom {
    background-color: #553739;
    color: white;
}

.bloco-secundario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-style {
    background-color: #553739;
    font-size: x-large;
    display: flex;
}

.nav-style2 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.nav-style2 .item-nav1 {
    width: 10%;
}

.nav-style2 .item-nav2 {
    width: 10%;
}

.nav-style2 .item-nav3 {
    width: 10%;
}

.nav-style2 .item-nav4 {
    width: 60%;
}

.item-dentro {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
}


.item-nav0 {
    margin-left: 2rem;
}

.item-nav {
    margin-left: 2rem;
}

.text-nav {
    color: white;
}

.text-nav2 {
    color: #d1a08f;
}



.form-edit-style {
    margin-top: -1rem;
    margin-bottom: 1rem;
    width: 70%;
    background-color: #232020;
    padding: 20px;
    border-radius: 20px;
}

.label-form-style {
    margin-top: 0.5rem;
    background-color: #232020;
    font-size: x-large;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}

.bloco-img-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #232020;
}

.img-logo-style {
    max-width: 500px;
    max-height: 500px;
}

.table-custom {
    color: white;
    border-radius: 10px;
    width: 90%;
    background-color: #232020;
    font-size: x-large;
}


.tds-item-style {
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
}

.input-qtd-style {
    max-width: 8rem;
}

.bnt-stock-style {
    margin-bottom: 2rem;
}

.bloco-secundario2 {
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-data-style {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
    background-color: #232020;
    padding: 3px;
    border-radius: 8px;
}

.label-form-style2 {
    margin-top: 5px;
    background-color: #232020;
    font-size: x-large;
    border-radius: 8px;
}

.btn-criar-style {
    margin-left: 3rem;
    font-size: x-large;
    background-color: #553739;
    color: white;
    padding-left: 20px;
}


.limitaC-style {
    max-width: 7ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-logout-style {
    background-color: unset;
    border: unset;
}

@media (max-width: 400px) {
    .bloco-principal {
        display: flex;
        justify-content: center;
        align-items: unset;
    }

    .botao1 {
        margin-left: 5px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .botao1-2 {
        font-size: 20px;
    }
}


@media (max-width: 768px) {

    .tds-item-style {
        flex-wrap: wrap;
    }
}




@media (max-width: 500px) {
    .btn-custom {
        margin-bottom: 0.1rem;
        margin-top: 0.1rem;
    }
}